<ion-header>
  <ion-toolbar>
    <ion-title>addCard</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper [config]="swiperConfig">
    <ng-template swiperSlide *ngFor="let i of [].constructor(5)">
      <ion-card> Slide 1 </ion-card>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="swiper-pagination-dots"></div>
  </ion-toolbar>
</ion-footer>
